.payment-status-1 {
  color: #2f54eb;
}

.payment-status-2 {
  color: #dd3d40;
}

.help-block {
  white-space: nowrap !important;
}

.pact-list-company {
  padding: 0;
  margin: 0;
  list-style: none;
}
.pact-list-company > li {
  font-size: 12px;
}